$black: #000000;
$yellow: #ffe545;
$gray: #f4f4f4;

@font-face {
  font-family: 'Soloist';
  src: url('../fonts/Soloist.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf');
}

body {
  font-family: 'Soloist', sans-serif;
  background-color: $black;
  background-image: url('../img/star-backgound.gif');
  color: $yellow;
}

.container {
  width: 100%;
  max-width: 720px;
  margin: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  * {
    margin: auto;
    margin-bottom: 20px;
  }
}

.movie-title {
  font-size: 2rem;
  text-align: center;
}

.select-input {
  background-color: $black;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 6px;
  color: $yellow;
  border: 2px solid $yellow;
  width: 100%;
  font-size: 1rem;
  font-family: 'Soloist', sans-serif;
  &:disabled {
    border: 1px solid $gray;
    color: $gray;
  }
  &:focus {
    outline: none;
  }
}

.switch-field {
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
  }
  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    &:checked + label {
      background-color: $yellow;
      color: $black;
      box-shadow: none;
    }
  }

  label {
    display: inline-block;
    background-color: transparent;
    color: $yellow;
    font-size: 0.6rem;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid $yellow;
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
    }

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }
}

#characters {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.character-list-table {
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.7rem;
  text-align: left;
  white-space: nowrap;
  thead {
    td {
      cursor: pointer;
    }
  }
  tbody {
    color: #ffffff;
  }
  tfoot {
    color: $yellow;
    border-top: 2px solid $yellow;
    border-bottom: 2px solid $yellow;
    padding-top: 10px;
  }
}

.opening-crawl-marquee {
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 100s ease-out infinite;
  &.paused {
    animation-play-state: paused;
  }
  &:hover {
    animation-play-state: paused;
  }
}

.text--white {
  color: #ffffff;
}

.text--yellow {
  color: $yellow;
}

@keyframes marquee {
  0% {
    text-indent: 95%;
  }
  100% {
    text-indent: -300em;
  }
}
